<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pe.charger">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="com.pe.charger.App"
        android:allowBackup="true"
        android:icon="@mipmap/pe_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pe_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Charger"

        android:usesCleartextTraffic="true"

        >

        <activity android:name="com.pe.charger.SettingsActivity"></activity>
        <activity android:name="com.pe.charger.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>